{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Mapa Covid-19 Piauí{% block title %}{% endblock  %}</title>
        <link href= "{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'dashboard:site' %}">Painel Covid-19 Piauí</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <div class="navbar-nav">
                    <a class="nav-item nav-link text-white" href="{% url 'dashboard:list_cidades' %}">Cidades</a>
                    <a class="nav-item nav-link text-white" href="{% url 'dashboard:list_regioes' %}">Regiões</a>
                    <a class="nav-item nav-link text-white" href="{% url 'dashboard:sobre' %}">Sobre</a>
                </div>
            </div>  
        </nav>
        <div id="layoutSidenav">
            <div class="w-100">
                <main>
                    {% block body %}
                    {% endblock body %}
                </main>
                <footer class="py-4 bg-light mt-auto text-md-center ">
                    <div class="container-fluid">
                        <div class="small">
                            <div class="text-muted">Copyright &copy; 2020</div>
                            <div>
                                <strong><a href="http://github.com/hector2506"><span class="fab fa-github"></span> Hector Batista</a> </strong>
                                <strong><a href="http://github.com/lucasbezerra26"><span class="fab fa-github"></span> Lucas Bezerra</a> </strong>
                                <strong><a href="http://github.com/SalesRyan"><span class="fab fa-github"></span> Patrick Ryan</a> </strong>
                                <strong><a href="http://github.com/spbdlelis"><span class="fab fa-github"></span> Samuel Lélis</a> </strong>
                                <p> Todos os direitos reservados.</p>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>
