{% extends 'core/base.html' %}
{% load staticfiles %}
{% load tags %}
{% block title %}
{% endblock title %}  
{% block head %}
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 100%;
            min-width: 50%;
        }
        #legend {
            border: black 1px solid;
            border-radius: 1em;
            background: #efefef;
            padding: 10px;
            bottom: 25px !important;
            left: 5px !important;
            max-height: 35%;
            width: 120px;
        }
        #legend-map-cidades, #legend-map-regioes {
            display: block; 
            z-index: 0; 
            position: absolute;
            border: black 1px solid;
            border-radius: 1em;
            background: #efefef;
            padding: 10px;
            bottom: 25px !important;
            left: 15px !important;
        }
    </style>
    <link href= "{% static 'css/graficos.css' %}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
{% endblock head %}  
{% block body %}
    <div class="container-fluid">
        <h1 class="mt-4 text-md-center mb-4">Mapa Covid-19 Piauí</h1>
        <h6 class="mt-4 text-md-center mb-4">
            {{data_atualizacao.data}}
        </h6>
        <div class="row flex d-flex-align-items-stretch">
            <div class="col-xl-4 col-md-6 flex-shrink-0">
                <div class="card yellow-background mb-4 text-white  rounded card-hover">
                    <div class="tooltip-right" data-toggle="tooltip" data-placement="top" title="Números de confirmados na data de atualização (Variação em relação ao dia anterior)">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                        </svg>
                    </div>
                    <div class="card-body">
                        <h2>Confirmados</h1>
                    </div>
                    <div class="card-footer yellow-background border-0 d-flex">
                        <h2 class="font-weight-bold">{{ confirmados_atual }}</h2><h2 class="new-right font-weight-bold"> (+{{ confirmados_novos}})</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 flex-shrink-0">
                <div class="card red-background text-white mb-4 rounded card-hover">
                    <div class="tooltip-right" data-toggle="tooltip" data-placement="top" title="Número de óbitos até a data de atualização (Variação em relação ao dia anterior)">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                        </svg>
                    </div>
                    <div class="card-body">
                        <h2>Óbitos</h1>
                    </div>  
                    <div class="card-footer border-0 red-background d-flex">
                        <h2 class="font-weight-bold">{{ obitos_atual }}</h2><h2 class="new-right font-weight-bold"> (+{{ obitos_novos }})</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 flex-shrink-0">
                <div class="card green-background text-white mb-4 rounded card-hover">
                    <div class="tooltip-right" data-toggle="tooltip" data-placement="top" title="Quantidade de pessoas que tiveram alta hospitalar (Variação em relação ao dia anterior)">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                        </svg>
                    </div>
                    <div class="card-body">
                        <h2 style="word-wrap: normal !important;">Recuperados</h1>
                    </div>
                    <div class="card-footer border-0 green-background d-flex">
                        <h2 class="font-weight-bold">{{ recuperados }}</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 flex-shrink-0">
                <div class="card blue-background text-white mb-4 rounded card-hover">
                    <div class="tooltip-right" data-toggle="tooltip" data-placement="top" title="percentual de leitos ocupados em relação ao total disponível (Variação em relação ao dia anterior)">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                        </svg>
                    </div>
                    <div class="card-body">
                        <h2 style="word-wrap: normal !important;">Ocupação</h1>
                    </div>
                    <div class="card-footer border-0 blue-background d-flex">
                        <h2 class="font-weight-bold">{{ ocupacao_atual }}%</h2> <h2 class="new-right font-weight-bold"> ({{ ocupacao_novos }}%)</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 flex-shrink-0">
                <div class="card blue-background text-white mb-4 rounded card-hover" style="background-color: #ff006e;">
                    <div class="tooltip-right" data-toggle="tooltip" data-placement="top" title="Índice de propagação da doença no estado do Piauí. // 0 - 0,5: Baixo // 0,5 - 1: Situação de alerta // 1 - 1,5: Alta // 1,5+: Muito alta">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                        </svg>
                    </div>
                    <div class="card-body">
                        <h2 style="word-wrap: normal !important;">Propagação</h1>
                    </div>
                    <div class="card-footer border-0 blue-background d-flex" style="background-color: #ff006e;">
                        <h2 class="font-weight-bold">{{ prop_doen }}</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 flex-shrink-0">
                <div class="card blue-background text-white mb-4 rounded card-hover" style="background-color: #fa824c;">
                    <div class="tooltip-right" data-toggle="tooltip" data-placement="top" title="Índice de Capacidade dos serviços de saúde. // 75-100%: Alta // 50-75%: Moderada // 25-50%: Baixa // 0-25%: Muito Baixa">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                        </svg>
                    </div>
                    <div class="card-body">
                        <h2 style="word-wrap: normal !important;">Cap. de Saúde</h1>
                    </div>
                    <div class="card-footer border-0 blue-background d-flex" style="background-color: #fa824c;">
                        <h2 class="font-weight-bold">{{ resp_saude }}%</h2>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row d-flex d-flex-align-items-stretch">
            <div class="col-xl-6 mb-4" id="map-container" >
                <div class="btn-group btn-group-toggle" style="position: absolute;z-index: 80000; margin: 10px; height: 40px; border-radius: 2px;" data-toggle="buttons">
                    <label class="btn btn-secondary active" style="border-radius: 2px; height: 100%;">
                        <input type="radio" name="options" onchange="alterMap('map')" id="option1" autocomplete="off" checked> Municípios
                    </label>
                    <label class="btn btn-secondary" style="border-radius: 2px; height: 100%;">
                        <input type="radio" name="options" onchange="alterMap('map-regioes')"  id="option2" autocomplete="off"> Regiões
                    </label>
                    <label class="btn btn-secondary" style="border-radius: 2px; height: 100%;">
                        <input type="radio" name="options" onchange="alterMap('map-agrupamento')"  id="option3" autocomplete="off"> Agrupamento
                    </label>
                </div>
                <div class="map container-fluid d-flex w-100 h-100 p-0 pl-0" onload="graficos()">
                    <div class="flex-grow-1 flex-shrink-0 pl-0" >
                        <div id="map-pi" dados ="{{ piaui }}" style="display: none !important;"></div>
                        <div id="map" dados="{{ data_mapa }}" num-classe-som="{{num_classe_som}}" class="rounded pl-0"></div>
                        <div id="legend-map-cidades" class="overflow-hidden" style="width: 120px; height:180px; display: none;">
                            <h6> Incidência </h6>
                            <div id="" class="d-flex justify-content-start h-100 w-100">
                                <div class="rounded-pill mt-2" style="width: 15%; height:78%; background-image: linear-gradient( to top,#e85d04, #dc2f02, #9d0208, #6a040f, #370617, #370617 );"> </div>
                                <div class=" d-flex justify-content-between flex-column" style="height: 85%;">
                                    <div class=""> 
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10 12.796L4.519 8 10 3.204v9.592zm-.659.753l-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
                                        </svg>
                                        {{data_incidencia_cidades.incidencia_max}}
                                    </div>
                                    <div class=""> 
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10 12.796L4.519 8 10 3.204v9.592zm-.659.753l-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
                                        </svg>
                                        {{data_incidencia_cidades.incidencia_mean}}
                                    </div>
                                    <div class=""> 
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10 12.796L4.519 8 10 3.204v9.592zm-.659.753l-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
                                        </svg>
                                        {{data_incidencia_cidades.incidencia_min}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="legend-map-regioes" class="overflow-hidden" style="width: 120px; height:180px; display: none;">
                            <h6> Incidência </h6>
                            <div id="" class="d-flex justify-content-start h-100 w-100">
                                <div class="rounded-pill mt-2" style="width: 15%; height:78%; background-image: linear-gradient( to top,#e85d04, #dc2f02, #9d0208, #6a040f, #370617, #370617 );"> </div>
                                <div class=" d-flex justify-content-between flex-column" style="height: 85%;">
                                    <div class=""> 
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10 12.796L4.519 8 10 3.204v9.592zm-.659.753l-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
                                        </svg>
                                        {{data_incidencia_regioes.incidencia_max}}
                                    </div>
                                    <div class=""> 
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10 12.796L4.519 8 10 3.204v9.592zm-.659.753l-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
                                        </svg>
                                        {{data_incidencia_regioes.incidencia_mean}}
                                    </div>
                                    <div class=""> 
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10 12.796L4.519 8 10 3.204v9.592zm-.659.753l-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
                                        </svg>
                                        {{data_incidencia_regioes.incidencia_min}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="legend" class="overflow-hidden" style="display: none;">
                            <div style="display: flex;">
                                <h6> Grupos &nbsp;</h6>
                                <img clas="icon"src= "static/assets/img/tap.png" style="width: 20px; height: 20px; margin-bottom: 10px">
                            </div>
                            <div id="classes-container" class="d-flex flex-column justify-content-between align-items-start h-100 w-100">             
                                <!--- Inserção Via javascript-->
                            </div>
                        </div>
                        <div id="map-regioes" dados="{{ data_mapa_regioes }}" class="d-none"></div>
                    </div>
                </div> 
            </div>
            <div class="col-xl-6 mb-4" style="height: 750px;">
                <div class="card mb-4 container-fluid d-flex w-100 h-100" id="tabela" style="padding: 0; max-height: 850px !important;" >
                    <div class="card-header"><i class="fas fa-table mr-1"></i>Municípios</div>
                    <div class="card-body overflow-auto">
                        <!-- <div style="position: relative; display: block;" >
                            <button class="btn btn-warning"> porcentagem </button>     
                        </div> -->
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" style="max-height: 700px;" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="d-none">Nome da Cidade</th>
                                        <th>Cidade</th>
                                        <th>Confirmados</th>
                                        <th>Óbitos</th>
                                        <th>Incidência</th>
                                        <th class="d-none">Região</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for object in casos_cidade %}
                                        <tr>
                                            <td style="display: none;">{{ object.nome }}</td>
                                            <td> <a href="{% url 'dashboard:detalhes_cidade' object.nome %}"> {{ object.nome }} </a></td>
                                            <td>{{ object.confirmados }}</td>
                                            <td>{{ object.obitos }}</td>
                                            <td>{{ object.incidencia|float_filter_tag }}</td>
                                            <td style="display: none;">{{ object.regiao__nome }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="graficos">
            <div class="col-xl-6 mb-4">
                <div class="card mb-6">
                    <div class="card-header"><i class="fas fa-chart-line mr-1"></i>Situação no Piauí</div>
                    <div class="chart" id="chart-1"></div>
                </div>
            </div>
            <div class="col-xl-6 mb-4">
                <div class="card mb-6">
                    <div class="card-header"><i class="fas fa-chart-line mr-1"></i>Ocupação dos Leitos no Piauí</div>
                    <div class="chart" id="chartdivleitos"></div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xl-6 mb-4">
                <div class="card mb-6">
                    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Casos por Idade</div>
                    <div class="chart" id="chartdivfaixaetaria"></div>
                </div>
            </div>
            <div class="col-xl-6 mb-4">
                <div class="card mb-6" >
                    <div class="card-header" ><i class="fas fa-chart-pie mr-1"></i>Distribuição por Sexo</div>
                    <div class="pizza d-flex">
                        <div class="pizza-chart" id="chartdivsexocasos" ></div>
                        <div class="pizza-chart" id="chartdivsexoobitos"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-male mr-1"></i>Comorbidades no Piauí</div>
            <div class="comorbidity-chart" id="chartdivcomorbidades" dados="{{ data_comorbidades }}"></div>
        </div>
    </div>
{% endblock body %}  
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/style_map.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="https://www.amcharts.com/lib/4/core.js" ></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/lang/pt_BR.js"></script>
    {% comment %} <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script> {% endcomment %}
    <script src="https://www.amcharts.com/lib/4/themes/dataviz.js"></script>

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initMap"></script>
    <script src="{% static 'js/lineChart.js' %}"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

    </script>

    <script>
        function graficos(){
           ajaxGraficoCidade()
        }
        window.onload = graficos
    </script>


{% endblock scripts %}              
