{% extends 'core/base.html' %}
{% load staticfiles %}
{% block title %}
    | Sobre
{% endblock title %}  
{% block head %}
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap" rel="stylesheet">
{% endblock head %}  

{% block body %}
    <div class="container-fluid col-xl-9">
        <div class="mt-4 text-md-center mb-4">
            <h1 class="">Sobre</h1>
        </div>
        <div class="card mb-4 text-justify" style="font-family: 'Nunito', sans-serif; font-size: 1.1rem; letter-spacing: .02em;">
            <div class="card-body">
                <h2 class="">Introdução</h2>
                <p class="mb-1 text-justify">
                    Em resposta à emergência de saúde pública atual, foi desenvolvida uma aplicação WEB para a coleta, monitoramento e análise de dados relativos COVID-19 no estado do Piauí
                    . Foram aplicadas técnicas de aprendizado de máquina baseado em ciência de dados para prever o comportamento do número de casos no estado e em suas macrorregiões. 
                    </br>
                    Nesse projeto foi desenvolvido também um sistema de uso restrito para gerenciamento e notificação de pacientes no estado, ele será disponibilizada nas unidades de saúde.
                </p>
            </div>  
            <div class="card-body">
                <h2 class="">Projeto</h2>
                <p class="mb-1 text-justify">
                    O projeto, "Mapa da COVID-19: Uma Ferramenta Computacional para Ciência dos Dados", é financiado pela <a href="http://www.fapepi.pi.gov.br/" target="_blank">FAPEPI</a> e aprovado pelo edital <a href="http://www.fapepi.pi.gov.br/media/uploads/resultado_final_edital_001_2020.pdf" target="_blank">EDITAL Nº 001/2020.</a>
                </p>
            </div>
            <div class="card-body">
                <h2 class="">Indicadores</h2>
                <div class="mb-1 text-justify">
                    <div>
                        <h4 class="">Incidencia</h4>
                        <p> O cálculo se dá pelo número de confirmados multiplicado por 10000 e dividido pela população, indicando a quantidade de casos por 10 mil habitantes ((confirmados/população)*10000)</p>
                    </div>
                    <div>
                        <h4 class="">Propagação da doença (fonte: <a href="https://coronavirus.ufpi.edu.br/noticias-e-atualizacoes/sala-de-situa%C3%A7%C3%A3o/sala-de-situa%C3%A7%C3%A3o-0806#h.jg89qfn1nb1q" target="_blank">Sala de situação</a>) </h4>
                        <p> Média ponderada de acordo com os pesos estabelecidos no indicador:</p>
                        <ol type="a">
                            <li> Nº de casos novos nos últimos 7 dias / Nº de casos novos nos 7 dias anteriores (peso 4);</li>
                            <li> Nº de internações nos últimos 7 dias / Nº de internações nos 7 dias anteriores (peso 4);</li>
                            <li> Nº de óbitos nos últimos 7 dias / Nº de óbitos nos 7 dias anteriores (peso 2).</li>
                        </ol>
                        <p> Mediante o resultado, é possível definir a propagação da doença como:</p>
                        <ul>
                            <li> Muito baixa propagação (pontuação < 0.75);</li>
                            <li> Baixa propagação, mas em situação de alerta (pontuação >=0.75 e <= 1.0);</li>
                            <li> Alta propagação (pontuação > 1 e <= 1.5);</li>
                            <li> Muito alta propagação (pontuação >1.5).</li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="">Capacidade de resposta dos serviços de saúde (fonte: <a href="https://coronavirus.ufpi.edu.br/noticias-e-atualizacoes/sala-de-situa%C3%A7%C3%A3o/sala-de-situa%C3%A7%C3%A3o-0806#h.jg89qfn1nb1q" target="_blank">Sala de situação</a>) </h4>
                        <p> Média ponderada de acordo com os pesos estabelecidos no indicador:</p>
                        <ol type="a">
                            <li> Taxa de leitos livres UTI covid-19 (%) (peso 4);</li>
                            <li> Taxa de leitos clínicos livres covid-19 (%) (peso 4); </li>
                            <li> Leitos com respirador / 100 mil hab (peso 2)</li>
                        </ol>
                        <p> Mediante o resultado, é possível definir a capacidade de resposta dos serviços de saúde como:</p>
                        <ul>
                            <li> Alta (75 a 100% leitos livres);</li>
                            <li> Moderada (50 a 75% leitos livres);</li>
                            <li> Baixa (25 a 50% leitos livres);</li>
                            <li> Muito Baixa (>25% dos leitos livres).</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h2 class="">Créditos</h2>
                <div class="mb-1 text-justify">
                    <h4 class="">Base de dados epidemiológicos</h4>
                    <ul type="a">
                        <li>  <a href="https://datastudio.google.com/u/0/reporting/a6dc07e9-4161-4b5a-9f2a-6f9be486e8f9/page/2itOB" target="_blank">SESAPI</a></li>
                    </ul>
                </div>
                <div class="mb-1 text-justify">
                    <h4 class="">Participantes do projeto</h4>
                    <p> Participantes da equipe do Núcleo (pesquisadores principais e colaboradores, alunos e auxiliares):</p>
                    <ul>
                        <li>Antonio Oseas de Carvalho Filho: Professor Adjunto da Universidade Federal do Piauí (UFPI). Link do Currículo Lattes: <a href="http://lattes.cnpq.br/7913655222849728">aqui</a> </li>
                        <li>Flávio Henrique Duarte de Araújo: Professor Adjunto da Universidade Federal do Piauí (UFPI). Link do Currículo Lattes: <a href="http://lattes.cnpq.br/9403364226017898">aqui</a></li>
                        <li>Romuere Rodrigues Veloso e Silva: Professor Adjunto da Universidade Federal do Piauí (UFPI). Link do Currículo Lattes: <a href="http://lattes.cnpq.br/3734588405818556">aqui</a></li>
                        <li>Fábio Solon Tajra: Professor Adjunto da Universidade Federal do Piauí (UFPI). Link do Currículo Lattes: <a href="http://lattes.cnpq.br/1556885629243172">aqui</a></li>
                        <li>Ricardo de Andrade Lira Rabêlo: Professor Adjunto da Universidade Federal do Piauí (UFPI). Link do Currículo Lattes: <a href="http://lattes.cnpq.br/2263553634422386">aqui</a></li>
                        <li>Fabbio Anderson da Silva Borges: Professor Adjunto da Universidade Estadual do Piauí (UESPI). Link do Currículo Lattes: <a href="http://lattes.cnpq.br/5378006986523567">aqui</a></li>
                        <li>Hector Batista Ribeiro: aluno do curso de Bacharelado em Ciência da Computação (CCN-UFPI). Link do Currículo Lattes: <a href="http://lattes.cnpq.br/1205798612762033">aqui</a></li>
                        <li>Lucas Bezerra Marques de Souza: aluno do curso de Bacharelado em Sistemas de Informação (CSHNB-UFPI). Link do Currículo Lattes: <a href="http://lattes.cnpq.br/5666070112395405">aqui</a></li>
                        <li>Patrick Ryan Sales dos Santos: aluno do curso de Bacharelado em Sistemas de Informação (CSHNB-UFPI). Link do Currículo Lattes: <a href="http://lattes.cnpq.br/6944781068896428">aqui</a></li>
                        <li>Samuel Pedro Beserra Dantas Lélis: aluno do curso de Bacharelado em Sistemas de Informação (CSHNB-UFPI). Link do Currículo Lattes: <a href="http://lattes.cnpq.br/6521327759697016">aqui</a></li>
                    </ul>
                    <p> Parcerias com as instituições de origem desses colaboradores:</p>
                    <ul>
                        <li>Fátima Nelsizeuma Sombra de Medeiros: Professora Titular da Universidade Federal do Ceará (PPGETI-UFC) Link do Currículo Lattes:<a href=" http://lattes.cnpq.br/5144730275745518"> aqui</a></li>
                        <li>Daniela Mayumi Ushizima: pesquisadora no Lawrence Berkeley National Laboratory (CAMERA-LBNL) Link do Currículo Lattes: <a href="http://lattes.cnpq.br/5353021338992861"> aqui</a></li>
                        <li>Mano Joseph Mathew: professor associado na École Ingénieurs Informatique (Efrei-Paris). Link do Currículo: <a href="https://www.efrei.fr/mano-joseph/"> aqui</a></li>
                        <li>Aristófanes Corrêa Silva: Professor Titular da Universidade Federal do Maranhão (CT-UFMA). Link do Currículo Lattes: <a href="http://lattes.cnpq.br/2446301582459104"> aqui</a></li>
                        <li>Anselmo Cardoso de Paiva: Professor Titular da Universidade Federal do Maranhão (CT-UFMA). Link do Currículo Lattes: <a href="http://lattes.cnpq.br/6446831084215512"> aqui</a></li>
                        <li>Rodolfo Acatauassú Nunes: Departamento de Cirurgia Geral da Faculdade de Ciências Médicas da. Universidade do Estado do Rio de Janeiro (UERJ). Link do Currículo Lattes: <a href="http://lattes.cnpq.br/5246655943457913"> aqui</a></li>
                    </ul>
                    <p> A equipe de integrante deste projeto, possui parcerias com diversos IES/centros, a seguir os mais pertinentes no âmbito presente projeto:</p>
                    <ul>
                        <li>Centro de Inteligência em Agravos Tropicais Emergentes e Negligenciados (CIATEN)</a></li>
                        <li>Núcleo de Computação Aplicada (NCA) da Universidade Federal do Maranhão</li>
                        <li>Grupo de Processamento de Imagens (GPI)</li>
                    </ul>
                </div>
            </div>
            <div class="card-body " class="mb-1 text-justify">
                <h2 class="">Atualizações</h2>
                <p>
                    A cada 30 minutos é feita uma verificação de alterações na Base de dados epidemiológicos. Geralmente as atualizações ocorrem entre 17:00 e 20:00.
                </p>
            </div>
            <div class="card-body " class="mb-1 text-justify">
                <h2 class="">Agrupamento</h2>
                <p>
                    O agrupamento é feito a partir dos dados da Covid-19 juntamente com dados financeiros obtidos a partir do portal da transparência.
                    A partir destes dados, os municípios foram agrupados com base nas semelhanças entre os dados de cada cidade por meio do algoritmo de agrupamento K-means.
                </p>
            </div>
        </div>
    </div>
{% endblock body %}