{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Mapa Coronavírus Piauí</title>        
        <link href= "{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href= "{% static 'css/graficos.css' %}" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
        <style>
            /* Always set the map height explicitly to define the size of the div
            * element that contains the map. */
            #map {
                height: 100%;
                min-width: 50%;
            }
        </style>
    </head>
    <body class="">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Painel Covid-19 Piauí</a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#map">Mapa</a>
                    <a class="nav-item nav-link" href="#">Tabela</a>
                    <a class="nav-item nav-link" href="#">Gráficos</a>
                </div>
            </div>  
        </nav>

        <div id="layoutSidenav">
            <div class="w-100">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4 text-md-center mb-4">Mapa Covid-19 Piauí</h1>
                        <h6 class="mt-4 text-md-center mb-4">
                            {{data_atualizacao.data}}
                        </h6>
                        <div class="row flex d-flex-align-items-stretch">
                            <div class="col-xl-3 col-md-6 flex-shrink-0">
                                <div class="card bg-success text-white mb-4 rounded card-hover">
                                    <div class="card-body">
                                        <h2 style="word-wrap: normal !important;">Confirmados</h1>
                                    </div>
                                    <div class="card-footer border-0 bg-success text-xl-left">
                                        <h2 class="font-weight-bold">{{ confirmados_atual }}</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 flex-shrink-0">
                                <div class="card bg-danger text-white mb-4 rounded card-hover">
                                    <div class="card-body">
                                        <h2>Novos</h1>
                                    </div>  
                                    <div class="card-footer border-0 bg-danger">
                                        <h2 class="font-weight-bold">{{ confirmados_novos }}</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 flex-shrink-0">
                                <div class="card bg-primary text-white mb-4 rounded card-hover">
                                    <div class="card-body">
                                        <h2 style="word-wrap: normal !important;">Óbitos</h1>
                                    </div>
                                    <div class="card-footer border-0 bg-primary">
                                        <h2 class="font-weight-bold">{{ obitos_atual }}</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 flex-shrink-0">
                                <div class="card bg-warning text-white mb-4 rounded card-hover">
                                    <div class="card-body">
                                        <h2 style="word-wrap: normal !important;">Novos</h1>
                                    </div>
                                    <div class="card-footer border-0 bg-warning">
                                        <h2 class="font-weight-bold">{{ obitos_novos }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row d-flex d-flex-align-items-stretch">
                            <div class="col-xl-6 mb-4" id="map-container" >
                                <div class="map container-fluid d-flex w-100 h-100 p-0 pl-0">
                                    <div class="flex-grow-1 flex-shrink-0 pl-0" >
                                        <div id="map" dados="{{ data_mapa }}" class="rounded pl-0"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 mb-4">
                                <div class="card mb-4 container-fluid d-flex w-100 h-100" style="padding: 0;" >
                                    <div class="card-header"><i class="fas fa-table mr-1"></i>Municípios</div>
                                    <div class="card-body overflow-auto">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Cidade</th>
                                                        <th>Confirmados</th>
                                                        <th>Óbitos</th>
                                                        <th>Incidência</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for object in casos_cidade %}
                                                        {% if object.nome != 'PIAUÍ' %}
                                                            <tr>
                                                                <td>{{ object.nome }}</td>
                                                                <td>{{ object.confirmados }}</td>
                                                                <td>{{ object.obitos }}</td>
                                                                <td>{{ object.incidencia }}</td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6 mb-4">
                                <div class="card mb-6">
                                    <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Situação no Piauí</div>
                                    <div class="chart" id="chart-1" dados="{{ data_casos_cidade }}" ></div>
                                </div>
                            </div>
                            <div class="col-xl-6 mb-4">
                                <div class="card mb-6">
                                    <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Ocupação dos Leitos no Piauí</div>
                                    <div class="chart" id="chartdivleitos" dados="{{ data_leitos }}"></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-xl-6 mb-4">
                                <div class="card mb-6">
                                    <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Casos por Idade</div>
                                    <div class="chart" id="chartdivfaixaetaria" dados="{{ data_faixa }}"></div>
                                </div>
                            </div>
                            <div class="col-xl-6 mb-4">
                                <div class="card mb-6" >
                                    <div class="card-header" ><i class="fas fa-chart-bar mr-1"></i>Distribuição por Sexo</div>
                                    <div class="pizza d-flex">
                                        <div class="pizza-chart" id="chartdivsexocasos" dados="{{ data_sexo_casos }}" ></div>
                                        <div class="pizza-chart" id="chartdivsexoobitos" dados="{{ data_sexo_obitos }}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Comorbidades no Piauí</div>
                            <div class="comorbidity-chart" id="chartdivcomorbidades" dados="{{ data_comorbidades }}"></div>
                        </div>
                    </div>
                    
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2019</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://www.amcharts.com/lib/4/core.js"></script>
        <script src="https://www.amcharts.com/lib/4/charts.js"></script>
        <script src="https://www.amcharts.com/lib/4/lang/pt_BR.js"></script>
        <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
        <script src="https://www.amcharts.com/lib/4/themes/dataviz.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'assets/demo/datatables-demo.js' %}"></script>
        <script src="{% static 'js/lineChart.js' %}"></script>
        <script>
            function initMap() {
                var map;
                map = new google.maps.Map(document.querySelector('div#map'), {
                    center: { lat: -7.0364390, lng: -42.822612 },
                    zoom: 6.1
                });
                let infowindow = new google.maps.InfoWindow(); //Cria a janela de informação usada para a área da ubs

                poligono(infowindow,map)
                
            }
            function criaPoligono(path, cor) {
                var cidades_poligono = new google.maps.Polygon({
                    paths: path,
                    strokeColor: cor,
                    strokeOpacity: 0.8,
                    strokeWeight: 3,
                    fillColor: cor,
                    fillOpacity: 0.35
                });
                return cidades_poligono
            }

            function poligono(infowindow,mapa) {
                // Evento para fechar a infowindow caso o usuário clique num lugar do mapa sem ser a área de alguma UBS
                google.maps.event.addListener(mapa, 'click', function () {
                    infowindow.close();
                });
                let ctx = document.getElementById('map')
                let value = ctx.getAttribute('dados')
                let data = JSON.parse(value).data
    
                data.forEach(element => {
                    cidades_poligono = criaPoligono(element.coordenadas,"#f14666")
                    cidades_poligono.setMap(mapa);
                    
                    // Evento para exibir a infowindow com o nome da UBS e a quantidade cada um dos tipos de notificações
                    cidades_poligono.addListener('click', function (event) {
                        var contentString = '<div id="content">' + "<h6>" + String(element.nome) + "</h6>" + "Casos confirmados: " +
                            String(element.confirmados) + "<br><br>" + "Obitos: " + String(element.obitos) + "<br><br>" +
                            "Incidência: " + String(element.incidencia) + '</div>';
                        infowindow.setContent(contentString);
                        infowindow.setPosition(event.latLng);
                        infowindow.open(mapa);
                    });
                });
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initMap" async defer></script>
        {% comment %} <script src="{% static 'js/map.js' %}"></script> {% endcomment %}
    </body>
</html>
