.card-hover {
    transition: transform .2s;
}

body {
    background-color: #efefef;
}

@media(max-width: 1200px) {
    #map-container {
        height: 600px !important;
    }
}

.card-hover:hover{
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 34px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 34px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 34px -10px rgba(0,0,0,0.75);
}

.chart  {
    width: 100%;
    height: 500px;
}
    
.pizza-chart {
    width: 50%;
    height: 500px;
}

div.comorbidity-chart {
    width: 100%;
    height: 600px;
}

.green-background {
    background-color: #67ad45;
}

.yellow-background {
    background-color: #f8cd3c;
}

.red-background {
    background-color: #ff0000;
}

.blue-background {
    background-color: #008bbf;
}

.tooltip-right{
    position: absolute; 
    right: 0px;
    margin: 10px;
}

.new-right{
    position: absolute; 
    right: 0px;
    margin-right: 10px;
}
